@model IEnumerable<WebYalex.Models.entrega>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-success" })
</p>
<p>
    <a href="@Url.Action("PrintEntrega", "Reportes")" class="btn btn-info" target="_blank">Reporte Contrato</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_entrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kilometraje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripestado_entrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripestado_devolucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagenestado_entrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagenestado_devolucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_entrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_devolucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_vehiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_contrato)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id_entrega)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.kilometraje)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.descripestado_entrega)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.descripestado_devolucion)
    </td>
    <td>
        <img src="data:image/png;base64,@Convert.ToBase64String(item.imagenestado_entrega)" alt="Estado de entrega" width="150" height="100" />
    </td>
    <td>
        <img src="data:image/png;base64,@Convert.ToBase64String(item.imagenestado_devolucion)" width="150" height="100" alt="Estado de devolución" />
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.fecha_entrega)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fecha_devolucion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.id_cliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.id_empleado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.id_vehiculo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.id_contrato)
    </td>
    <td>
        <div class="action-buttons">

            @Html.ActionLink("Editar", "Edit", new { id = item.id_entrega }, new { @class = "btn btn-warning" })
            <span class="bi bi-info-circle-fill"></span>
        </div>
    </td>
    <td>
        <div class="action-buttons">
            @Html.ActionLink("Detalles", "Details", new { id = item.id_entrega }, new { @class = "btn btn-primary" })
        </div>
    </td>
    <td>
        <div class="action-buttons">
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id_entrega }, new { @class = "btn btn-danger" })
        </div>
    </td>
</tr>
}

</table>
<br />
<br />
<br />
<br />