@model IEnumerable<WebYalex.Models.vehiculo>

@{
    Layout = null;
}


<style>
    .table {
        margin-bottom: 1rem;
        color: #212529;
        /*background-color: transparent;*/
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        border-collapse: collapse;
    }

        .table th,
        .table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
            text-align: center;
            color: #212529;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }
</style>
@{ DateTime fechaActual = ViewData["FechaActual"] as DateTime? ?? DateTime.Now; }
<p style="font-size:26px; margin-left:83%;">Fecha: @fechaActual.ToString("dd/MM/yyyy") Hora: @fechaActual.ToString("HH:mm")</p>
<center>
    <p style="color:darkred; font-size:40px; font-weight:900;">Yalex Car Rental</p>
    <img width="470" height="250" src="https://yalexcarrental.com/wp-content/uploads/2023/01/YALEX-CAR-RENTAL-1.png" />
    <h3>
        COLONIA DINA, CONTIGUO A CALLE
        MONSERRAT
    </h3>
    <h3> #107 SAN SALVADOR</h3>
    <h3>
        EL SALVADOR (503) 6303 7690
    </h3>
    <h3>
        USA (240) 437-6467
    </h3>
    <h3>
        E-mail: yalexcarrental@gmail.com
    </h3>
</center>
<h1 style="color:darkred; font-size:35px; font-weight:900;"> Reporte vehiculos</h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_vehiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_vehiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_transmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.condicion_vehiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consumo_combus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_vehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_vehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_transmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.condicion_vehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.consumo_combus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio_dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
               
            </td>
        </tr>
    }

</table>
<p style="font-size:26px; margin-left:66%;">Cantidad de vehiculos existentes: @(ViewData["CantidadVehiculos"] as int?)</p>
